/* C'est ce sélecteur qui "débloque" l'affichage */
.chart-visual {
  height: 800px; 
}


.chart-area-line {
  stroke: #8884d8;
  stroke-width: 2;
  fill: #8884d8;
  fill-opacity: 0.3;
}


.chart-axis-x, .chart-axis-y {
  font-size: 12px;
  fill: #667;
}